@inherits LayoutComponentBase

<PageTitle>Random Password Generator</PageTitle>

<div class="container">
    <main class="container pt-5">
        @Body
    </main>
</div>

<div class="container">
    <footer class="pt-3 my-2 mt-5 text-body-secondary border-top">
        Created by <a href="https://htayaung.dev" target="_blank">Htay Aung</a> &copy; @DateTime.Now.Year
    </footer>
</div>
