@page
@model Web.Pages.ShortUrls.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="callout callout-danger"></div>
                            <div class="mb-3">
                                <label asp-for="Input.Url" class="form-label"></label>
                                <input type="text" asp-for="Input.Url" class="form-control">
                                <span asp-validation-for="Input.Url" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <button id="submit" type="submit" class="btn btn-primary">Create</button>
                                <a asp-page="./Index">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
