@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@using ThreadTask = System.Threading.Tasks;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async ThreadTask.Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo(ConstHelper.AUTHENTICATED_DEFAULT_URI);
        }
    }
}
