@page
@model Web.Pages.QRCodes.IndexModel
@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Generate QR Code";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="callout callout-danger"></div>
                            <div class="mb-3">
                                <label asp-for="Input" class="form-label"></label>
                                <textarea asp-for="Input" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Input" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <button id="submit" type="submit" class="btn btn-primary">Generate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                @if (Model.QRCodeImage != null)
                {
                    <img src="@Model.QRCodeImage" alt="" style="height:284px;width:284px;" />
                }
            </div>
        </div>
    </div>
</div>
