@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @UserManager.GetFullName(context.User)</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <span class="oi oi-audio-spectrum" aria-hidden="true"></span>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    </ul>

                    <div class="text-end">
                        <a class="btn btn-outline-light me-2" href="Identity/Account/Register">Register</a>
                        <a class="btn btn-warning" href="Identity/Account/Login">Log in</a>
                    </div>
                </div>
            </div>
        </header>
    </NotAuthorized>
</AuthorizeView>
